<html>

<head>
    <meta charset="UTF-8">
    <title>Currency Exchange Calculation</title>
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type='text/javascript' language='javascript' src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
    <script type='text/javascript' language='javascript' src="currency.js"></script>
    <link rel="stylesheet" href="currency.css">
    <title> JavaScript Timer on Webpage
    </title>
</head>

<body>
    <div id="container">
        <h2>Currency Exchange Calculation</h2>
        <div id="setTime">
            Input the number of RMB(CNY): ¥
            <input type="text" maxlength="12" id="inputNumber" v-model="sourceCurrencyNumber"></input>
        </div>
        <table id="currencies">
            <tr v-for="(tarCurrency, index) in targetCurrencies">
                <td class="info-left">Your RMB can exchange for</td>
                <td class="exchange-calculation"><strong class="number">{{ tarCurrency[1] }}</strong></td>
                <td class="info-right">{{ tarCurrency[2] }}!</td>
            </tr>
        </table>
    </div>
</body>

</html>